@charset "UTF-8";

.faq-accordion-wrapper .faq-accordion-body {
    padding: 30px 30px 30px 19px ;
}

.author-wrap{
    margin-bottom: 0;
}

.blog-details-content-wrap {
    padding: 0;
    margin-bottom: 0;
}
.faq-area .container {
    padding-top: 0;
}

@media only screen and (max-width: 1199px){
    .faq-area .container {
        padding-top: 0;
    }
}

@media only screen and (max-width: 991px){
    .blog-details-content-wrap {
        margin-bottom: 0;
    }
}

.nav-link {
    color: #495057;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0d6efd;
}
