@charset "UTF-8";
.signwall a {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #979797;
    background-color: #fff;
    color: #181818;
    display: inline-block;
    font-size: 16px;
    padding: 15px 45px;
    margin: 3px 10px 6px 10px;
}

.signwall img {
    max-width: 15%;
}

.signwall-container {
    max-width: 100%;
}

@media (max-width: 768px) {
    .signwall img {
        max-width: 20%;
    }

    .signwall a {
        font-size: 10px;
        padding: 10px 25px;
        margin: 1px 3px 2px 3px;
    }
}

.width100p {
    width: 100%;
}

.faq-accordion-body form .form-group .form-control {
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ebebeb;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    padding: 0 25px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.faq-accordion-body form .form-group {
    margin-bottom: 20px;
}

.faq-accordion-body form .list-group-item {
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
    color: #444;
    font-size: 14px;
    margin-top: 1px;
}

.faq-accordion-body form .list-group-item .form-check-input {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 0;
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    margin: 0;
    margin-right: 18px;
    background: none;
    -webkit-filter: none;
    filter: none;
}

.faq-accordion-body form .btn-theme {
    border: none;
    font-size: 14px;
    height: 54px;
    line-height: 54px;
    padding: 0 18px;
    width: 32%;
}

.register-head:before {
    content: "" !important;
}

.cus-tags .col-2 a {
    border: 1px solid #ebebeb;
    color: #181818;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    padding: 10px 22px 9px;
    border-radius: 0;
    min-width: 100px;
    margin-right: 4px;
    width: 30%;
    max-width: 140px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-loadmore a {
    background-color: #fff;
    color: #181818;
}

.post-loadmore a {
    width: 20%;
    min-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cus-tags .col-2 .checked {
    background-color: #ff663b;
    color: #fff;
}

@media (max-width: 640px) {
    .col-2-bak {
        flex: 0 0 auto;
        width: 25%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 640px) {
    .col-2-bak {
        flex: 0 0 auto;
        width: 33%;
        padding-left: 0;
        padding-right: 0;
    }
}

.content .meta-tag .tag li a {
    color: #ff663b;
}

.post-items-style2 .post-item .inner-content .content .meta-tag .tag {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.operate-show-button {
    display: flex;
    line-height: 2;
}

.operate-show-button div {
    margin-right: 1px;
    padding: 0px 10px;
    background-color: #ff631b;
    color: #fff;
    font-size: 12px;
}

.operate-show-button div:last-child {
    border-radius: 0px 50px 50px 0px;
    padding-right: 15px;
}

.operate-show-button div:first-child {
    border-radius: 50px 0px 0px 50px;
    padding-left: 15px;
}

.operate-show-button div a {
    color: black;
}

.operate-show-button div a:last-child {
    padding-left: 3px;
}

.operate-show-button div a:first-child {
    margin-left: 5px;
}

.faq-accordion-wrapper .faq-accordion-body .content{
    display: flex;
    margin-bottom: 2%;
}

.faq-accordion-wrapper .faq-accordion-body .content .img-content{
    border: 1px solid #bb2d3b;
    width: 20%;
    margin-right: 4%;
}

.faq-accordion-wrapper .faq-accordion-body .content .img-content img{
    width: 100%;
    height: 100%;
}


