<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="module/head :: head"></head>
</head>
<body>
<div class="wrapper coming-soon-page-wrapper">
    <div th:replace="module/preloader :: preloader"></div>
    <header th:replace="module/header :: header"></header>

    <main class="main-content">
        <section class="contact-area">
            <div class="container-fluid p--0">
                <div class="row no-gutter">
                    <div class="col-12">
                        <div class="contact-page-wrapper">
                            <div class="column1">
                                <!--== Start Contact Form ==-->
                                <div class="contact-form contact-form-style2">
                                    <h4 class="contact-form-title">填写信息</h4>
                                    <form id="save-idea" action="/api/idea/save" method="POST">
                                        <div class="row no-gutter">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <input class="form-control" name="title" maxlength="20"
                                                           placeholder="标题">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="desc"
                                                              placeholder="描述"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="step"
                                                              placeholder="第一步"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="step"
                                                              placeholder="第二步"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <p onclick="getTagFrame()">添加标签 &nbsp;&nbsp;>></p>
                                                <div id="tag-frame" style="display: none">
                                                    <div class="cus-tags row" style="text-align: center;"
                                                         th:each="group:${tags}">
                                                        <th:block th:each="i,s:${group.value}">
                                                            <div th:if="${s.first}" class="post-loadmore col-12"
                                                                 style="margin: 20px 0px;"><a
                                                                    href="javascript:; th:attr=" cnName=${i.cnName},
                                                                    tagParentId=${i.parentId}, tagId=${i.id}""><span
                                                                    th:text="${i.cnName}"></span></a></div>
                                                            <div th:if="${!s.first}" class="col-2 col-2-bak"><a
                                                                    onclick="chooseTag(this)" href="javascript:void(0);"
                                                                    th:attr="cnName=${i.cnName}, tagParentId=${i.parentId}, tagId=${i.id}"><span
                                                                    th:text="${i.cnName}"></span></a></div>
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group mb--0">
                                                    <button class="btn-theme" type="button" onclick="submitAjax()">提交
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--== End Contact Form ==-->

                                <ul class="contact-info-list">
                                    <li><span>时间:</span><span id="showtime"></span></li>
                                </ul>

                                <!--== Message Notification ==-->
                                <div class="form-message"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer th:replace="module/footer :: footer"></footer>
    <div th:replace="module/to-top :: to-top"></div>
    <block th:include="module/auth :: auth"></block>
    <script th:include="module/auth-script :: auth"></script>
    <aside th:replace="module/side-moible-menu :: side-menu"></aside>
    <!--    <div th:replace="module/side-menu :: side-menu"></div>-->
    <div th:replace="module/search :: search"></div>
</div>
<th:block th:include="module/footer-script"></th:block>
<script>
    function submitAjax() {
        let form = new FormData(document.getElementById("save-idea"));
        setStep(form, "step");
        if (!choosedTags || choosedTags.length === 0) {
            return alert("请选择标签")
        }
        setTag(form, "tag");
        $.ajax({
            url: "/api/idea/save",
            type: "post",
            data: form,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function setStep(f, name) {
        let array = document.getElementsByName(name);
        for (let i = 0; i < array.length; i++) {
            f.append(name + "s[" + i + "]", array[i].value);
        }
    }

    function setTag(f, tag) {
        for (let i = 0; i < choosedTags.length; i++) {
            f.append(tag + "s[" + i + "].id", choosedTags[i].id);
            f.append(tag + "s[" + i + "].cnName", choosedTags[i].cnName);
        }
    }

    function getTagFrame() {
        $("#tag-frame").toggle(900)
    }

    let choosedTags = [];

    function chooseTag(that) {
        let id = $(that).attr('tagid');
        let cnName = $(that).attr('cnname');
        for (let i = 0; i < choosedTags.length; i++) {
            if (choosedTags[i].id === id) {
                choosedTags.splice(i, 1)
                $(that).removeClass("checked");
                return;
            }
        }
        if (choosedTags.length >= 5) {
            return alert("最多只能选择5个标签");
        }
        choosedTags.push({
            id: id,
            cnName: cnName
        });
        $(that).addClass("checked");
    }

    $(function () {
        setInterval(function () {
            let c = getCurrentDate(new Date());
            $('#showtime').html(c);
        }, 1000);
    });

    function getCurrentDate(date) {
        let y = date.getFullYear();
        let m = date.getMonth() + 1;
        let d = date.getDate();
        let h = date.getHours();
        let min = date.getMinutes();
        let s = date.getSeconds();
        let str = y + '年' + (m < 10 ? ('0' + m) : m) + '月' + (d < 10 ? ('0' + d) : d) + '日  ' + (h < 10 ? ('0' + h) : h) + ':' + (min < 10 ? ('0' + min) : min) + ':' + (s < 10 ? ('0' + s) : s);
        return str;
    }

</script>
</body>
</html>