<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="module/head :: head"></head>
</head>
<body>
<div class="wrapper coming-soon-page-wrapper">
    <div th:replace="module/preloader :: preloader"></div>
    <header th:replace="module/header :: header"></header>

    <main class="main-content">
        <!--== Start Section Area Wrapper ==-->
        <!--== End Section Area Wrapper ==-->
    </main>

    <footer th:replace="module/footer :: footer"></footer>
    <div th:replace="module/to-top :: to-top"></div>
    <div th:replace="module/auth :: auth"></div>
    <aside th:replace="module/side-moible-menu :: side-menu"></aside>
    <!--    <div th:replace="module/side-menu :: side-menu"></div>-->
    <div th:replace="module/search :: search"></div>
</div>
<th:block th:include="module/footer-script"></th:block>
</body>
</html>