<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <div th:fragment="auth">
        <div id="logout-model" class="aside-login-form-wrap">
            <div class="aside-login-form-inner">
                <div id="logout-model-close" class="aside-login-form-close"><i class="lastudioicon-e-remove"></i>
                </div>
                <div class="aside-login-form-content">
                    <div class="accordion">
                        <div class="accordion-item login-form mb-30">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" onclick="logout()">退出</button>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside-login-form-wrap aside-login-form-wrap-two">
            <div class="aside-login-form-inner">
                <div class="aside-login-form-close aside-login-form-close-two"><i class="lastudioicon-e-remove"></i>
                </div>
                <div class="aside-login-form-content">
                    <div class="accordion" id="LoginFormExample2">
                        <div class="accordion-item login-form mb-30">
                            <h2 class="accordion-header" id="RegisterThree">
                                <button id="registerBtn" class="accordion-button" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#registerThree" aria-expanded="false"
                                        aria-controls="registerThree">
                                    注册
                                </button>
                            </h2>
                            <div id="registerThree" class="accordion-collapse collapse" aria-labelledby="RegisterThree"
                                 data-bs-parent="#LoginFormExample2">
                                <div class="accordion-body">
                                    <div class="login-form-content">
                                        <form name="register" id="registerForm" action="/api/nuser/register"
                                              method="post">
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="form-group">
                                                        <select class="form-control" id="rTelArea" name="telArea"
                                                                aria-label="Archive"></select>
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="form-group">
                                                        <input class="form-control" name="tel" placeholder="请输入电话号码">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="form-group">
                                                        <input class="form-control" name="verityCode"
                                                               placeholder="请输入验证码">
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <button type="button" name="reqCode" class="form-label"
                                                                style="border: 2px solid;height: 60px;width: 100%;font-size: 14px;"
                                                                onclick="getVerityCode('registerForm')">获取验证码
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <a class="btn-login" href="javascript:void(0);"
                                                           onclick="submitXForm('registerForm')">注册</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item login-form mb--0">
                            <h2 class="accordion-header" id="loginTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#logintwo" aria-expanded="false" aria-controls="logintwo">
                                    登录
                                </button>
                            </h2>
                            <div id="logintwo" class="accordion-collapse collapse" aria-labelledby="loginTwo"
                                 data-bs-parent="#LoginFormExample2">
                                <div class="accordion-body">
                                    <div class="login-form-content">
                                        <form name="login" id="loginForm" action="/api/nuser/login" method="post">
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="form-group">
                                                        <input class="form-control" name="tel" placeholder="请输入电话号码">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="form-group">
                                                        <input class="form-control" name="verityCode"
                                                               placeholder="请输入验证码">
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <button type="button" name="reqCode" class="form-label"
                                                                style="border: 2px solid;height: 60px;width: 100%;font-size: 14px;"
                                                                onclick="getVerityCode('loginForm')">获取验证码
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <a class="btn-login" href="javascript:void(0);"
                                                           onclick="submitXForm('loginForm')">登录</a>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group account-info-group">
                                                        <a class="lost-password" href="#/">忘记密码?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</head>
</html>