<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <div class="aside-login-form-wrap aside-login-form-wrap-two" th:fragment="auth1">
        <div class="aside-login-form-inner">
            <div class="aside-login-form-close aside-login-form-close-two"><i class="lastudioicon-e-remove"></i></div>
            <div class="aside-login-form-content">
                <div class="accordion" id="LoginFormExample2">
                    <div class="accordion-item register-form mb-30">
                        <h2 class="accordion-header" id="RegisterThree">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#registerThree" aria-expanded="true" aria-controls="registerThree">
                                Register
                            </button>
                        </h2>
                        <div id="registerThree" class="accordion-collapse collapse show" aria-labelledby="RegisterThree"
                             data-bs-parent="#LoginFormExample2">
                            <div class="accordion-body">
                                <div class="login-form-content">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="visually-hidden" for="LoginFormEmail2">Username or
                                                        email address <span class="required">*</span></label>
                                                    <input id="LoginFormEmail2" class="form-control" type="email"
                                                           placeholder="Email address *">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group account-info-group">
                                                    <p>A password will be sent to your email address.</p>
                                                    <p>Your personal data will be used to support your experience
                                                        throughout this website, to manage access to your account, and
                                                        for other purposes described in our <a href="#/"
                                                                                               target="_blank">privacy
                                                            policy</a></p>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group text-center">
                                                    <a class="btn-login" href="#/">Register</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item login-form mb--0">
                        <h2 class="accordion-header" id="loginTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#logintwo" aria-expanded="false" aria-controls="logintwo">
                                Login
                            </button>
                        </h2>
                        <div id="logintwo" class="accordion-collapse collapse" aria-labelledby="loginTwo"
                             data-bs-parent="#LoginFormExample2">
                            <div class="accordion-body">
                                <div class="login-form-content">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="visually-hidden" for="LoginFormUsername2">Username or
                                                        email address <span class="required">*</span></label>
                                                    <input id="LoginFormUsername2" class="form-control" type="email"
                                                           placeholder="Username or email address *">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="visually-hidden" for="LoginFormPassword2">Password
                                                        <span class="required">*</span></label>
                                                    <input id="LoginFormPassword2" class="form-control" type="password"
                                                           placeholder="Password *">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <a class="btn-login" href="#/">Login</a>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group account-info-group">
                                                    <a class="lost-password" href="#/">Lost your password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</head>
</html>