<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <footer class="footer-area footer-style2-area" th:fragment="footer">
        <div class="footer-main">
            <div class="container max-1440">
                <div class="row">
                    <div class="col">
                        <!--== Start widget Item ==-->
                        <div class="widget-item about-widget">
                            <div class="about-widget-wrap">
                                <div class="widget-logo-area">
                                    <a href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 37" width="77" height="37">
                                            <style>
                                                tspan { white-space:pre }
                                                .txt0 { font-size: 33px;fill: #fff;font-weight: 100 }
                                            </style>
                                            <text id="知光" style="transform: matrix(1,0,0,1,-1,33)" >
                                                <tspan x="0" y="0" class="txt0">- 知光 -</tspan>
                                            </text>
                                        </svg>
                                    </a>
                                </div>
                                <div class="social-icons">
                                    <a href="#/"><i class="lastudioicon lastudioicon-b-facebook"></i></a>
                                    <a href="#/"><i class="lastudioicon lastudioicon-b-twitter"></i></a>
                                    <a href="#/"><i class="lastudioicon lastudioicon-b-instagram"></i></a>
                                    <a href="#/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="25"
                                             viewBox="0 0 22 25">
                                            <path fill="currentColor"
                                                  d="M18.4 1.1c1.1.5 5.5 10 1.7 18.2-3 6.6-10.7 6.6-14.6 4.3-3.3-2-8.4-8.2-2.8-15.9.2-.3.8-.3.7.6-.1.6-.9 5.1.6 7 .7 1 .9.3.9.3s0-6.5 5-11.4c3.2-3 7.7-3.5 8.5-3.1z"></path>
                                        </svg>
                                    </a>
                                    <a href="#/"><i class="lastudioicon lastudioicon-b-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--== End widget Item ==-->
                    </div>
                    <div class="col">
                        <!--== Start widget Item ==-->
                        <div class="widget-item">
                            <div class="widget-menu-wrap">
                                <ul class="nav-menu">
                                    <li><a href="services.html">微博</a></li>
                                    <li><a href="services.html">知乎</a></li>
                                    <li><a href="blog.html">Facebook</a></li>
                                    <li><a href="services.html">豆瓣</a></li>

                                </ul>
                            </div>
                        </div>
                        <!--== End widget Item ==-->
                    </div>
                    <div class="col">
                        <!--== Start widget Item ==-->
                        <div class="widget-item">
                            <div class="widget-menu-wrap">
                                <ul class="nav-menu">
                                    <li><a href="about.html">Twitter</a></li>
                                    <li><a href="services.html">微信</a></li>
                                    <li><a href="services.html">天涯</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--== End widget Item ==-->
                    </div>
                    <div class="col">
                        <!--== Start widget Item ==-->
                        <div class="widget-item">
                            <div class="widget-menu-wrap">
                                <ul class="nav-menu">
                                    <li><a href="services.html">Reddit</a></li>
                                    <li><a href="blog.html">KaKao Talk</a></li>
                                    <li><a href="contact.html">Tinder</a></li>
                                    <li><a href="services.html">百度·贴吧</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--== End widget Item ==-->
                    </div>
                    <div class="col">
                        <!--== Start widget Item ==-->
                        <div class="widget-item">
                            <div class="widget-menu-wrap">
                                <ul class="nav-menu">
                                    <li><a href="contact.html">QQ</a></li>
                                    <li><a href="portfolio.html">Linkedin</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--== End widget Item ==-->
                    </div>
                </div>
            </div>
        </div>

        <!--== Start Footer Bottom ==-->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="copyright" style="color: #81b56c;"><span>知光网</span>. 版权所有 <a target="_blank" href="https://beian.miit.gov.cn">【京】ICP2021026809</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--== End Footer Bottom ==-->
    </footer>
</head>
</html>