<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <footer class="footer-area footer-style2-area" th:fragment="footer">
        <div class="footer-main">
            <div class="container max-1440">
                <div class="row">
                    <div class="col">
                        <!--== Start widget Item ==-->
                        <div class="widget-item about-widget">
                            <div class="about-widget-wrap">
                                <div class="widget-logo-area">
                                    <a href="index.html">
                                        <img class="logo-main" src="/assets/img/logo-light.png" alt="Logo"/>
                                    </a>
                                </div>
                                <div class="social-icons">
                                    <a href="#/"><i class="lastudioicon lastudioicon-b-facebook"></i></a>
                                    <a href="#/"><i class="lastudioicon lastudioicon-b-twitter"></i></a>
                                    <a href="#/"><i class="lastudioicon lastudioicon-b-instagram"></i></a>
                                    <a href="#/">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="25"
                                             viewBox="0 0 22 25">
                                            <path fill="currentColor"
                                                  d="M18.4 1.1c1.1.5 5.5 10 1.7 18.2-3 6.6-10.7 6.6-14.6 4.3-3.3-2-8.4-8.2-2.8-15.9.2-.3.8-.3.7.6-.1.6-.9 5.1.6 7 .7 1 .9.3.9.3s0-6.5 5-11.4c3.2-3 7.7-3.5 8.5-3.1z"></path>
                                        </svg>
                                    </a>
                                    <a href="#/"><i class="lastudioicon lastudioicon-b-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--== End widget Item ==-->
                    </div>
                    <div class="col">
                        <!--== Start widget Item ==-->
                        <div class="widget-item">
                            <h4 class="widget-title">Company</h4>
                            <div class="widget-menu-wrap">
                                <ul class="nav-menu">
                                    <li><a href="about.html">About us</a></li>
                                    <li><a href="services.html">Our Services</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--== End widget Item ==-->
                    </div>
                    <div class="col">
                        <!--== Start widget Item ==-->
                        <div class="widget-item">
                            <h4 class="widget-title">Services</h4>
                            <div class="widget-menu-wrap">
                                <ul class="nav-menu">
                                    <li><a href="services.html">Creative Design</a></li>
                                    <li><a href="services.html">Web Development</a></li>
                                    <li><a href="services.html">Digital Painting</a></li>
                                    <li><a href="services.html">Online Marketing</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--== End widget Item ==-->
                    </div>
                    <div class="col">
                        <!--== Start widget Item ==-->
                        <div class="widget-item">
                            <h4 class="widget-title">Case Studies</h4>
                            <div class="widget-menu-wrap">
                                <ul class="nav-menu">
                                    <li><a href="services.html">UX/Ui Desin</a></li>
                                    <li><a href="services.html">Photography</a></li>
                                    <li><a href="services.html">Fashion</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--== End widget Item ==-->
                    </div>
                    <div class="col">
                        <!--== Start widget Item ==-->
                        <div class="widget-item">
                            <h4 class="widget-title">User Helpful</h4>
                            <div class="widget-menu-wrap">
                                <ul class="nav-menu">
                                    <li><a href="about.html">Community</a></li>
                                    <li><a href="about.html">Forums</a></li>
                                    <li><a href="about.html">Meetups</a></li>
                                    <li><a href="about.html">Help Center</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--== End widget Item ==-->
                    </div>
                </div>
            </div>
        </div>

        <!--== Start Footer Bottom ==-->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="copyright">© 2021, <span>Optica</span>. Made with <i
                                class="fa fa-heart icon-heart"></i> by <a target="_blank"
                                                                          href="http://www.bootstrapmb.com">
                            HasThemes</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--== End Footer Bottom ==-->
    </footer>
</head>
</html>