<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <header class="header-area header-style2 transparent" th:fragment="header-index">
        <div class="container-fluid">
            <div class="row no-gutter align-items-center position-relative">
                <div class="col">
                    <div class="header-action off-canvas-wrapper-btn aside-style-left">
                        <button class="btn-menu" type="button"><i class="lastudioicon-dot-3"></i></button>
                    </div>
                    <div class="header-logo-area">
                        <a href="/fast/index">
                            <img class="logo-main" src="/assets/img/logo-light.png" alt="Logo"/>
                            <img class="logo" src="/assets/img/logo.png" alt="Logo"/>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="header-navigation-area d-none">
                        <ul class="main-menu nav">
                            <li class="has-submenu"><a href="/fast/route/u/create"><span>建立愿望</span></a></li>
                            <li class="has-submenu"><a href="blog-3-grid.html"><span>我的愿望</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="header-action-area">
                        <div class="info-box">
                            <button class="btn-search-menu"><i class="lastudioicon-zoom-1"></i></button>
                            <button id="logout-btn" style="display: none" class="btn-cart-menu"><i
                                    class="lastudioicon-user-1"></i></button>
                            <button id="login-btn" style="display: none"
                                    class="btn-cart-menu aside-login-form-register-open"><i
                                    class="lastudioicon-user-2"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</head>
</html>