<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>知光-青年的知光</title>
        <!--== Favicon ==-->
        <link rel="shortcut icon" href="/assets/img/icons/favicon-128.png">
        <link href="/assets/img/icons/favicon-128.png" rel="apple-touch-icon-precomposed" sizes="60x60">
        <!--== Google Fonts ==-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display:300,400,500,600,700,800,900"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900" rel="stylesheet">

        <!--== Bootstrap CSS ==-->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
        <!--== Headroom CSS ==-->
        <link href="/assets/css/headroom.css" rel="stylesheet"/>
        <!--== Animate CSS ==-->
        <link href="/assets/css/animate.css" rel="stylesheet"/>
        <!--== Font Awesome Icon CSS ==-->
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet"/>
        <!--== LaStudio Icon CSS ==-->
        <link href="/assets/css/lastudioIcons-icons.css" rel="stylesheet"/>
        <!--== Dlicon Icon CSS ==-->
        <link href="/assets/css/dlicon.css" rel="stylesheet"/>
        <!--== Swiper CSS ==-->
        <link href="/assets/css/swiper.min.css" rel="stylesheet"/>
        <!--== Fancybox Min CSS ==-->
        <link href="/assets/css/fancybox.min.css" rel="stylesheet"/>
        <!--== Slicknav Min CSS ==-->
        <link href="/assets/css/slicknav.css" rel="stylesheet"/>
        <!--== Aos Min CSS ==-->
        <link href="/assets/css/aos.min.css" rel="stylesheet"/>

        <!--== Main Style CSS ==-->
        <link href="/assets/css/style.css" rel="stylesheet"/>
        <!--== Main Style CSS ==-->
        <link href="/assets/css/some.css" rel="stylesheet"/>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <script src="/assets/js/jSignature/JSignatureCustomer.js"></script>
        <![endif]-->
        <script>
            // // 禁用缩放
            // function addMeta() {
            //     $('head').append('<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />');
            // }
            // setTimeout(addMeta, 3000);

            //判断手机横竖屏状态：
            window.addEventListener("onorientationchange" in window ? "orientationchange" : "resize", function () {
                // if (window.orientation === 180 || window.orientation === 0) {
                //     alert('竖屏状态！');
                // }
                // if (window.orientation === 90 || window.orientation === -90 ){
                //     alert('横屏状态！');
                // }
                location.reload();
            }, false);

            // 禁用双指放大
            // document.documentElement.addEventListener('touchstart', function (event) {
            //     if (event.touches.length > 1) {
            //         event.preventDefault();
            //     }
            // }, {
            //     passive: false
            // });

            // 禁用双击放大
            // let lastTouchEnd = 0;
            // document.documentElement.addEventListener('touchend', function (event) {
            //     let now = Date.now();
            //     if (now - lastTouchEnd <= 300) {
            //         event.preventDefault();
            //     }
            //     lastTouchEnd = now;
            // }, {
            //     passive: false
            // });
            let smallScreen = window.screen.availWidth < 600;
            let alertResponse = function (res) {
                console.log(JSON.stringify(res));
                if (res.code != 0) {
                    alert(res.msg);
                }
            }
            let alertError = function () {
                alert("系统繁忙，稍后刷新重试！");
            }
            let shwoMsg = function (id, msg, ck){
                let target = $('#'+id);
                target.html(msg);
                target.show('normal');
                let timer = setTimeout(function (){
                    target.hide(0, function () {
                        ck && ck();
                    })
                }, 2000)
            }

            let wantToHost = function() {
                let currentWwwPath=window.document.location.href;
                let pathName=window.document.location.pathname;
                let position=currentWwwPath.indexOf(pathName);
                let host = currentWwwPath.substring(0,position);
                return {
                    path:currentWwwPath,
                    uri:pathName,
                    host:host
                }
            }
        </script>
    </head>
</head>
</head>
</html>