<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Coming Soon – Optica - Creative Photography Studio HTML Template</title>

        <!--== Favicon ==-->
        <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"/>

        <!--== Google Fonts ==-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display:300,400,500,600,700,800,900"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900" rel="stylesheet">

        <!--== Bootstrap CSS ==-->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
        <!--== Headroom CSS ==-->
        <link href="/assets/css/headroom.css" rel="stylesheet"/>
        <!--== Animate CSS ==-->
        <link href="/assets/css/animate.css" rel="stylesheet"/>
        <!--== Font Awesome Icon CSS ==-->
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet"/>
        <!--== LaStudio Icon CSS ==-->
        <link href="/assets/css/lastudioIcons-icons.css" rel="stylesheet"/>
        <!--== Dlicon Icon CSS ==-->
        <link href="/assets/css/dlicon.css" rel="stylesheet"/>
        <!--== Swiper CSS ==-->
        <link href="/assets/css/swiper.min.css" rel="stylesheet"/>
        <!--== Fancybox Min CSS ==-->
        <link href="/assets/css/fancybox.min.css" rel="stylesheet"/>
        <!--== Slicknav Min CSS ==-->
        <link href="/assets/css/slicknav.css" rel="stylesheet"/>
        <!--== Aos Min CSS ==-->
        <link href="/assets/css/aos.min.css" rel="stylesheet"/>

        <!--== Main Style CSS ==-->
        <link href="/assets/css/style.css" rel="stylesheet"/>
        <!--== Main Style CSS ==-->
        <link href="/assets/css/some.css" rel="stylesheet"/>

        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
</head>
</head>
</html>