<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <div class="search-box-wrapper" th:fragment="search">
        <div class="search-box-content-inner">
            <div class="search-box-form-wrap">
                <form action="#" method="post">
                    <div class="search-form position-relative">
                        <label for="search-input" class="sr-only">查询</label>
                        <input type="search" class="form-control" placeholder="输入关键字" id="search-input">
                        <button class="search-button"><i class="lastudioicon-zoom-1"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <a href="javascript:;" class="search-close"><i class="lastudioicon-e-remove"></i></a>
    </div>
    </div>
</head>
</html>