<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <div class="aside-menu-wrap" th:fragment="side-menu">
        <div class="aside-menu-inner">
            <div class="btn-aside-menu-close"><i class="lastudioicon-e-remove"></i></div>
            <div class="aside-menu-content">
                <div class="aside-menu-nav">
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="services.html">Our Services</a></li>
                        <li><a href="portfolio-masonry.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="#/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="aside-menu-bottom">
                    <div class="thumb">
                        <a href="#/"><img src="assets/img/photos/aside-banner.jpg" alt="Image-HasTech"></a>
                    </div>
                    <div class="aside-menu-info">
                        <ul>
                            <li>(+612) 2531 5600</li>
                            <li>info@la-studioweb.com</li>
                            <li>PO Box 1622 Colins Street West Victoria 8077 Australia</li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <a href="#"><i class="lastudioicon-b-facebook"></i></a>
                        <a href="#"><i class="lastudioicon-b-twitter"></i></a>
                        <a href="#"><i class="lastudioicon-b-pinterest-circled"></i></a>
                        <a href="#"><i class="lastudioicon-b-instagram"></i></a>
                    </div>
                    <div class="aside-menu-payments">
                        <img src="assets/img/photos/payments.png" alt="Image-HasTech">
                    </div>
                </div>
            </div>
        </div>
    </div>
</head>
</html>